@import 'variables';
@import 'mixin';

.product {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 242px;

    &-container {
        width: 100%;
        max-width: 1370px;
        display: flex;
        justify-content: end;
        gap: 87px;
    }

    &-customer {
        position: relative;
        width: 100%;
        max-width: 638.5px;
        height: 573.26px;
        background: url("../img/girl-green.png") no-repeat center center;
        background-size: cover;
    }

    &-card {
        position: absolute;
        bottom: -77px;
        left: -60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #FFFFFF;
        border-radius: 3.73px;
        box-shadow: 0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25);
        padding: 24px 55px 18px 60px;

        &-subtitle {
            width: 120px;
            font-weight: 500;
            text-align: center;
            font-size: 14.49px;
            line-height: 22.75px;
            border-bottom: 0.745942px solid #000000;
            padding-bottom: 4px;
        }
        
        &-logo {
            display: block;
            width: 57.44px;
            height: 57.44px;
            margin-top: 13.7px;
            margin-bottom: 10.44px;
        }
        
        &-name {
            font-size: 11.9351px;
            line-height: 18.74px;
            margin-bottom: 20.24px;
        }
        
        &-title {
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: 700;
            font-size: 15.9292px;
            line-height: 25.01px;
            margin-bottom: 15.93px;
        }
        
        &-list {
            position: relative;
            top: 2px;
            left: 9px;
            align-self: start;
            list-style: disc;
        }

        &-item  {
            font-size: 10.6195px;
            line-height: 16.67px;
            margin-bottom: 15px;
        }
    }
    
    &-content {
        position: relative;
        left: 1px;
        width: 100%;
        max-width: 584px;
        margin-top: 10px;
    }
    
    &-subtitle {
        font-weight: 500;
        font-size: 25px;
        color: $darkGrey;
    }
    
    &-title {
        position: relative;
        right: 1px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: $green;
        font-weight: 700;
        font-size: 50px;
        line-height: 79px;
        margin-top: 14px;
        margin-bottom: 20px;
    }
    
    &-description {
        position: relative;
        right: 0.8px;
        color: $grey;
        font-size: 20px;
        line-height: 30.1px;
        letter-spacing: 0.08px;
        margin-bottom: 30px;
    }

    &-button {
        @include default-button;
        padding: 20.5px 49.5px;
    }
}